<div class="page-bg">
	<div class="row">
		<div class="large-4 columns">
			<div class="logo"></div>
		</div>
		<div class="large-8 columns">
			<div class="subscribe-container">
				<h1>Fresh <span>recipes</span> delivered to your inbox daily.</h1>
				<%= form_for @subscriber, remote: true, :html => {:class => 'subscribe-form'} do |f| %>
					<%= f.label :email, 'Enter your best email' %>
					<%= f.text_field :email, placeholder: 'ex: bert@sstreet.com' %>
					<%= button_tag(type: 'submit', class: "button radius") do %>
 						<span>Get chef.ly (<small>&nbsp;FREE&nbsp;</small>)</span>
					<% end %>
				<% end %>
			</div>
			<%= render :partial => 'layouts/social_links'%>
		</div>
	</div>
</div>
<%= render :partial => 'layouts/modal'%>